# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: publish to modrinth and curseforge

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew remapJar
        env:
          TAG: ${{ github.event.release.tag_name }}

      - name: Upload a fabric build
        uses: actions/upload-artifact@v2.2.2
        with:
          path: build/libs/**.jar
          name: fabric
          retention-days: 2

  publish_fabric:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: fabric
          path: download

      - name: remove modloader prefix from version
        run: echo 'VERSION_NAME='"$(echo "${{ github.event.release.tag_name }}" | cut -c 8-)" >> $GITHUB_ENV

      - uses: Kir-Antipov/mc-publish@v3.1
        with:
          modrinth-id: pNabrMMw
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 459929
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          loaders: fabric
          game-versions: 1.19.2
          curseforge-dependencies: |
            cloth-config | depends
            fabric-api | depends
            applied-energistics-2 | depends
            roughly-enough-items | suggests
            trinkets | suggests
          modrinth-dependencies: |
            cloth-config | depends
            fabric-api | depends
            ae2 | depends
            roughly-enough-items | suggests
            trinkets | suggests
          java: 17
          version: ${{ VERSION_NAME }}-fabric
          name: ${{ VERSION_NAME }}-fabric
          files-primary: download/!(*-@(dev|dev-shadow)).jar
          files-secondary: ""